<% if @current_user.present? %>
  <h4>
    <%= link_to 'Create business', new_business_path, :class =>'btn btn-primary btn-lg'  %>
  </h4>
  <h2 class="alert alert-dark business_title" >Admin businesses:</h2>
  <div>
    <% @current_user.admins.each do |admin| %>
      <%= link_to (admin.find_business_name admin), business_path(admin.business_id), :class =>'tn btn-secondary btn-lg' %>
    <% end %>
  </div>
  <h2 class="alert alert-dark business_title" >Watching businesses:</h2>
  <% @current_user.businesses.each do |business| %>
    <%= link_to business.name, business_path(business.id), :class =>'tn btn-secondary btn-lg'  %>
  <% end %>

<% else %>
  <div class="welcome">
    <%= image_tag 'ga_logo.png', :class => 'mb-4'%>
    <h1 class="text-center">Welcome to <span class="brand">ReportConnect</span></h1>
    <p class="mt-5 mb-3 text-muted" >© 2018</p>
  </div>
<% end %>
