.container {
  max-width: 960px;
  margin: 0 auto;
}
.thumb {
  max-height: 8em;
}

.feature {
  max-width: 100%;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.business_title,
.table_offset {
  margin-top: 1rem;
}
